body {
    font-family: Arial, sans-serif;
    background-color: #0F0F10;
    margin: 0;
    padding: 0;
}
.title
{     
  white-space: nowrap; 
  margin-top: -68px;
  margin-left: 10px;
}
.box {
  width: 66px;      
  height: 36px;                
  background-color: #FF9101;     
  border-radius: 8px; 
  margin-left: 111px; 
  margin-top: 5px;  
}
.hub 
{
    margin-left: 105px;
    margin-top: -58px;
    color: black;   
}
.search-form {
     display: flex;
    justify-content: center;
    margin-top: -60px;
}

.search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
    background-color:#444 ;
    width: 500px;
    color: white;
    margin-left: 60px;
}

.search-form button {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #444;
    border: none;
    margin-left: 2px;
    border-radius: 18px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #FF9101;
}


/* Header Section */
header {
    background-color: black;
    color: white;
    height: 33px;
    padding: 10px;
}
  
/* Navigation Bar */
nav {
    background-color: black;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Featured and Products Section */
.featured, .products 
{
    padding: 20px;
}

.product-card 
{
    background-color: black;
    color: white;
    border-radius: 13px;
    padding: 11px;
    margin: 10px;
    width: 240px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}


.product-card img 
{
    max-width: 100%;
    height: auto;
}

/* Footer Section */
footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.social-link 
{
    font-weight: bold; 
    transition: color 0.1s;
    text-decoration: none;
}
.facebook-link 
{
    color: #0B01C1;
}
.twitter-link 
{
    color: #076AFF;
}
.instagram-link
{
    color: #F91A7B;
}
/* Button Link Style */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: #FF9101;
    text-decoration: none;
    border-radius: 30px;
    border-color: silver;
    border-width: 10px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.5s ease;
}

.button-link:hover {
    background-color: black;
    color: white;
    transform: scale(0.9);
}
.buy-button {
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-color: blue;
    text-decoration: none;
    border-radius: 30px;
    border-color: silver;
    border-width: 2px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    width: 80px;
    padding: 8px;
    margin-left: 70px;
    margin-top: -7px; 
    transition: transform 0.3s ease;


}
.buy-button:hover {
    background-color: #051874;
    transform: scale(1.1);
}
.type {
    color: black;
}
.section {
    color: white;
}
.product-box {
    background-color: white;
    margin-top: 30px;
}

.popout-image {
    transition: transform 0.3s ease;  /* Smooth transition */
}

.popout-image:hover {
    transform: scale(1.15); /* Scales up the image to 110% */
}
.firstpage{
    text-decoration: none;

}
.mainlogo{
    color: white;
}
